/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/*
!/storage/.gitignore
/public/uploads/
/bootstrap/cache/*
migrate_error.txt
tables_list.txt
.qoder
.zencoder
.zenflow
old_static/
create_db.php
run_migrations.php
